@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.441);
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }