@charset "UTF-8";

@media screen and (min-width: 992px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu a {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-left: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        max-width: 768px;
    }
}